body {
    background: rgb(241, 241, 241);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    padding: 0rem;
    border-radius: none;
    display: flex;
    flex-direction: column;
}


.container .rap { 
  position:relative;
  padding:10px;
  background:#fff;
  border:1px solid #ddd;
  border-radius:10px;
  display:flex;
}

.container .rap input{
    padding:10px;
    font-size:18px;
    color:#555;
    border:none;
    outline:none;
    padding-right:10px;
  }

.container .menu { 
    position:relative;
    padding:10px;
    background:#fff;
    border:1px solid #ddd;
    border-radius:10px;
    display:flex;
}

.container .menu input{
    padding:10px;
    font-size:18px;
    color:#555;
    border:none;
    outline:none;
    padding-right:10px;
  }


.container .zelle { 
    position:relative;
    padding:10px;
    background:#fff;
    border:1px solid #ddd;
    border-radius:10px;
    display:flex;
}

.container .zelle input{
    padding:10px;
    font-size:18px;
    color:#555;
    border:none;
    outline:none;
    padding-right:10px;
  }

.container .cash-app { 
    position:relative;
    padding:10px;
    background:#fff;
    border:1px solid #ddd;
    border-radius:10px;
    display:flex;
}

.container .cash-app input{
    padding:10px;
    font-size:18px;
    color:#555;
    border:none;
    outline:none;
    padding-right:10px;
  }

button {
    background-color: #fffc00;
    color: white;
    font-size: 20px;
    border:none;
    outline:none;
    border-radius:10px;
    cursor:pointer;
  }

button:active{
    background:#809ce2; 
}

.container .venmo { 
    position:relative;
    padding:10px;
    background:#fff;
    border:1px solid #ddd;
    border-radius:10px;
    display:flex;
}

.container .venmo input{
    padding:10px;
    font-size:18px;
    color:#555;
    border:none;
    outline:none;
    padding-right:10px;
  }

  .container .paypal { 
    position:relative;
    padding:10px;
    background:#fff;
    border:1px solid #ddd;
    border-radius:10px;
    display:flex;
}

.container .paypal input{
    padding:10px;
    font-size:18px;
    color:#555;
    border:none;
    outline:none;
    padding-right:10px;
}
